In [1]:
import pandas as pd
import numpy as np


from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

<h1>Goal - Match contacts with no account to our Speedeon accounts from salesforce</h1>
<hr>

<h3> Dictionary - A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value</h3> 
<br />
<img src="dict.png"/>

<h4> Creating Dictionary </h4>

In [2]:
example_dict = {'a':'alpha', 'o':'omega', 'g': 'gamma'}
example_dict

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

<h4> Accesing Value by key </h4>

In [3]:
example_dict['a']

'alpha'

<h4> Adding a new key </h4>

In [4]:
example_dict['b'] = 'beta'

example_dict

{'a': 'alpha', 'o': 'omega', 'g': 'gamma', 'b': 'beta'}

<h4> Updating value by key </h4>

In [5]:
print(example_dict['g'])

example_dict['g'] = 'gamma2'

print(example_dict['g'])

gamma
gamma2

<h4> Deleting a key-value pair </h4>

In [6]:
print(example_dict)
del example_dict['b']
print(example_dict)

{'a': 'alpha', 'o': 'omega', 'g': 'gamma2', 'b': 'beta'}
{'a': 'alpha', 'o': 'omega', 'g': 'gamma2'}

<h4> Adding new key-value pair </h4>

In [7]:
new_dict = {'d':'delta'}
example_dict.update(new_dict)

example_dict

{'a': 'alpha', 'o': 'omega', 'g': 'gamma2', 'd': 'delta'}

<h4> Dictionary built-in functions </h4>

In [8]:
# Get dict keys
print(example_dict.keys())
print()

# Get dict values
print(example_dict.values())
print()


# Return a list of key-value pairs
print(example_dict.items())
print()

# Iterating through dictionary
for k,v in example_dict.items():
    print('key  :', k)
    print('value:', v)
    print('----------------------')

dict_keys(['a', 'o', 'g', 'd'])

dict_values(['alpha', 'omega', 'gamma2', 'delta'])

dict_items([('a', 'alpha'), ('o', 'omega'), ('g', 'gamma2'), ('d', 'delta')])

key  : a
value: alpha
----------------------
key  : o
value: omega
----------------------
key  : g
value: gamma2
----------------------
key  : d
value: delta
----------------------

<h4> Dictionary Excercise </h4>
<ol>
<li> Create a dictionary with 5 different key value pairs</li>
<li> Print the dictionary</li>
<li> Print the dictionary keys</li>
<li> Print the dictionary values</li>
<li> Print the the value for any key</li>
<li> Change the value for any key</li>
<li> Add a new key-pair value</li>
<li> Iterate through through the dictionary and print the key and value for each pair</li>
</ol>

In [9]:
example = {'A':1,'B':2,'C':3,'D':4,'E':5}
print(example)
print(example.keys())
print(example.values())
print(example['A'])
example['C'] = '98'
example['F'] = '6'
for k,v in example.items():
    print(k,v)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}
dict_keys(['A', 'B', 'C', 'D', 'E'])
dict_values([1, 2, 3, 4, 5])
1
A 1
B 2
C 98
D 4
E 5
F 6

In [10]:
'98'*2

'9898'

<h3> Project </h3>

In [46]:
def get_domain(value):
    if isinstance(value, str):
        return value.split('@')[1].replace('.com', '')
    else:
        return value
    
def split_first(value):
    if isinstance(value, str):
        return value.split(" ")[0]
    else:
        return value
    
def split_last(value):
    if isinstance(value, str):
        return value.split(" ")[1]
    else:
        return value

In [47]:
# Dictionary containing all available accounts
all_accounts = pd.read_csv('report1552488200037.csv', encoding='latin-1')
all_accounts['email_domain'] = all_accounts['Email'].apply(get_domain)
all_accounts['First Name'] = all_accounts['First Name'].apply(lambda x:  x if isinstance(x,float) else x.lower())
all_accounts['Last Name'] = all_accounts['Last Name'].apply(lambda x:  x if isinstance(x,float) else x.lower()) 

# Dictionary containing all contacts with no accounts
no_account = pd.read_csv('contacts_no_accounts.csv', encoding='latin-1')
no_account['email_domain'] = no_account['Email'].apply(get_domain)
no_account['First Name'] = no_account['Full Name'].apply(split_first)
no_account['Last Name'] = no_account['Full Name'].apply(split_last)
no_account['First Name'] = no_account['First Name'].apply(lambda x:  x if isinstance(x,float) else x.lower())
no_account['Last Name'] = no_account['Last Name'].apply(lambda x:  x if isinstance(x,float) else x.lower())

In [48]:
all_accounts.head(1)

,Salutation,First Name,Last Name,Title,Mailing Street,Mailing City,Mailing Zip/Postal Code,Mailing State/Province (text only),Mailing Country (text only),Phone,Mobile,Fax,Email,Account Owner,Account Name,email_domain
0,NaN,joe,grusman,Sr. Manager of Marketing Acquisition & Emergin...,NaN,NaN,NaN,NaN,United States,+1 800 943 1633,NaN,702-943-7778,jgrusman@zappos.com,Marketing,Zappos,zappos

In [49]:
no_account.head(1)

,Full Name,Email,Account Name: Account Name,Contact ID,email_domain,First Name,Last Name
0,David Kalman,david.kalman@hal2l.com,NaN,0032A00002up33E,hal2l,david,kalman

In [50]:
all_accounts = all_accounts.to_dict(orient='records')
no_account = no_account.to_dict(orient='records')

<h3> Find exact email matches between the two datasets </h3>
<ol>
<li> Iterate through both lists, find the exact email matches</li>
<li> Append matches to another list</li>
</ol>

In [13]:
no_account[0].keys()

dict_keys(['Full Name', 'Email', 'Account Name: Account Name', 'Contact ID', 'email_domain'])

In [14]:
no_account[0]

{'Full Name': 'David Kalman',
 'Email': 'david.kalman@hal2l.com',
 'Account Name: Account Name': nan,
 'Contact ID': '0032A00002up33E',
 'email_domain': 'hal2l'}

In [15]:
all_accounts[0].keys()

dict_keys(['Salutation', 'First Name', 'Last Name', 'Title', 'Mailing Street', 'Mailing City', 'Mailing Zip/Postal Code', 'Mailing State/Province (text only)', 'Mailing Country (text only)', 'Phone', 'Mobile', 'Fax', 'Email', 'Account Owner', 'Account Name', 'email_domain'])

In [16]:
all_accounts[0]

{'Salutation': nan,
 'First Name': 'Joe',
 'Last Name': 'Grusman',
 'Title': 'Sr. Manager of Marketing Acquisition & Emerging Platforms',
 'Mailing Street': nan,
 'Mailing City': nan,
 'Mailing Zip/Postal Code': nan,
 'Mailing State/Province (text only)': nan,
 'Mailing Country (text only)': 'United States',
 'Phone': '+1 800 943 1633',
 'Mobile': nan,
 'Fax': '702-943-7778',
 'Email': 'jgrusman@zappos.com',
 'Account Owner': 'Marketing',
 'Account Name': 'Zappos',
 'email_domain': 'zappos'}

In [17]:
count = 0
for contact in no_account:
    for account in all_accounts:
        if contact['Email'] == account['Email']:
            contact['Account Name: Account Name']= account['Account Name']
            
            count+= 1
            
count

718

In [25]:
not_matched=list()
matched = list()
for contact in no_account:
    if isinstance(contact['Account Name: Account Name'],float):
        not_matched.append(contact)
    else:
        matched.append(contact)

In [19]:
len(not_matched)

537

In [26]:
len(matched)

539

In [27]:
output = pd.DataFrame().append(matched,ignore_index=True)
output.head()

,Account Name: Account Name,Contact ID,Email,Full Name,email_domain
0,HackerAgency,0032A00002up33E,david.kalman@hal2l.com,David Kalman,hal2l
1,Hanesbrands,0032A00002up33g,maria.burke@hanesbrands.com,Maria Talbert,hanesbrands
2,Allstate,0032A00002up32Z,kim.dunworth-miller@allstate.com,Kim Dunworth-Miller,allstate
3,Hanesbrands,0032A00002up098,michelle.mezzano@hanes.com,Michelle Mezzano,hanes
4,Allstate,0032A00002up3re,jlisz@allstate.com,James Liszka,allstate

In [21]:
len(no_account)

1076

In [22]:
output.shape

(1076, 5)

In [28]:
output.to_csv("no_account_matches.csv",header=True,index=False)

In [24]:
matches1 = list()

for e in no_account['email_domain']:
    for d in all_accounts['email_domain']:
        if e == d:
            if e not in matches1:
                matches1.append(e)

print(matches1[0:50])

TypeError: list indices must be integers or slices, not str

<h3> Determine which accounts have the account name contained in the email</h3>
<ol>
<li> Create a new key call email domain and assign the email domain to it</li>
</ol>